.filter-buttons {
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-buttons button {
   padding: 8px 15px;
   border: 1px solid var(--border-color);
   background: var(--card-color);
   border-radius: 4px;
   cursor: pointer;
   font-size: 14px;
   color: var(--text-color);
}

.filter-buttons button.active {
  background: #3b82f6;
  color: white;
  font-weight: bold;
  border-color: #3b82f6;
}

.filter-buttons button:hover {
  background: #3b82f6;
}

.filter-buttons button.active:hover {
  background: #0056b3  
}