.card {
  background: var(--card-color);
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid var(--border-color);
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid #3b82f6;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.card h2 {
  color:var(--subtext-color);
  font-size: 18px;
}

.card p {
  color: var(--subtext-color);
}
.category {
  font-size: 12px;
  color: #3b82f6;
  margin-bottom: 8px;
}